{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>A Gitea instance to host presonal projects and code hosting</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
					<svg viewBox="0 0 16 16" class="svg octicon-code" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4.72 3.22a.75.75 0 0 1 1.06 1.06L2.06 8l3.72 3.72a.75.75 0 1 1-1.06 1.06L.47 8.53a.75.75 0 0 1 0-1.06l4.25-4.25zm6.56 0a.75.75 0 1 0-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 1 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25z"></path></svg> Code Hosting
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.install_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<svg width="30" height="30" viewBox="-1.27 0 30 30" width="16" height="16" data-name="14 - Document" xmlns="http://www.w3.org/2000/svg"><path data-name="Path 238" d="M20.899.412A1 1 0 0 0 20.091 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h21.454a3 3 0 0 0 3-3V9.75a1 1 0 0 0-.191-.588L20.899.412ZM19.581 2l5.873 8.075V27a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1Z" fill-rule="evenodd"/><path data-name="Path 239" d="M4.818 8.364h8.909a1 1 0 0 0 0-2H4.818a1 1 0 0 0 0 2Z" fill-rule="evenodd"/><path data-name="Path 240" d="M26.454 10.182h-5.363V1a1 1 0 0 0-2 0v10.182a1 1 0 0 0 1 1h6.363a1 1 0 0 0 0-2Z" fill-rule="evenodd"/><path data-name="Path 241" d="M4.818 14.727h8.909a1 1 0 0 0 0-2H4.818a1 1 0 0 0 0 2Z" fill-rule="evenodd"/><path data-name="Path 242" d="M4.818 20.455h12.727a1 1 0 0 0 0-2H4.818a1 1 0 0 0 0 2Z" fill-rule="evenodd"/></svg> {{.i18n.Tr "startpage.platform"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.platform_desc" | Str2html}}
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
